apiVersion: enterprise.gloo.solo.io/v1
kind: AuthConfig
metadata:
  name: google-oidc
  namespace: gloo-system
spec:
  configs:
  - oauth2:
      oidcAuthorizationCode:
        app_url: http://localhost:8080
        callback_path: /callback
        client_id: 952883111352-3hmavis8d85vup5aipa164asqd4e2unf.apps.googleusercontent.com
        client_secret_ref:
          name: google
          namespace: gloo-system
        issuer_url: https://accounts.google.com
        session:
          cookieOptions:
            notSecure: true
        scopes:
        - email
        # headers:
        #   id_token_header: "x-token"
        # session:
        #   failOnFetchFailure: true
        #   redis:
        #     cookieName: session
        #     options:
        #       host: redis.gloo-system.svc.cluster.local:6379