apiVersion: gateway.solo.io/v1
kind: VirtualService
metadata:
  name: default
  namespace: gloo-system
spec:
  virtualHost:
    domains:
      - "*"
    options:
      extauth:
        configRef:
          name: google-oidc
          namespace: gloo-system
      stagedTransformations:
        early:
          requestTransforms:
            - requestTransformation:
                transformationTemplate:
                  extractors:
                    token:
                      header: 'cookie'
                      regex: 'id_token=(.*); .*'
                      subgroup: 1
                  headers:
                    jwt:
                      text: '{{ token }}'
      headerManipulation:
        requestHeadersToRemove:
        - "cookie"
      transformations:
        responseTransformation:
          transformationTemplate:
            parseBodyBehavior: DontParse
            body:
              text: '{% if header(":status") == "429" %}<html><body style="display:flex;height:100vh;width:100%;align-items:center;flex-direction:column;justify-content:center;background-color:black;color:red;text-align:center"><h1>Too many Requests!</h1><br/><p style="color:white;">Try again after 10 seconds</p></body></html>{% else %}{{ body() }}{% endif %}'
      rateLimitConfigs:
        refs:
          - name: db-policy
            namespace: gloo-system
    routes:
      - matchers:
          - prefix: /callback
        routeAction:
          single:
            upstream:
              name: default-httpbin-8000
              namespace: gloo-system
      - matchers:
          - prefix: /check/healthz
        directResponseAction:
          status: 200
          body: "healthy!"
      - matchers:
          - prefix: /tasks
        delegateAction:
          ref:
            name: default
            namespace: "gloo-system"
      - matchers:
          - prefix: /application
        options:
            extauth:
              configRef:
                name: google-oidc
                namespace: gloo-system
        delegateAction:
          ref:
            name: application
            namespace: "gloo-system"
